header {
  background-image: linear-gradient(to right, #2f1c94, #cb067a);
  min-height: 75px;
}

h1 {
  font-size: 34.5px;
  font-family: 'Fira Sans', sans-serif;
}

h3 {
  font-size: 24px;
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0px;
}

li {
  list-style: none;
  margin-bottom: 12px;
  margin-left: -35px;
}

.content {
  height: 100%;
  padding: 25px 20px;
}

.inner-content {
  padding: 20px;
}

footer {
  position: sticky;
  bottom: 0;
  background-image: linear-gradient(to right, #2f1c94, #cb067a);
  min-height: 55px;
  padding: 20px 12px;
  display: flex;
  justify-content: center;
}
